<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7LhmNS2L9nhZAEMNclteYBnGY7PxyhsI</string>
	<key>GCM_SENDER_ID</key>
	<string>396419953093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.cornell.gdiac.riseandshine.ios.GD2A3920</string>
	<key>PROJECT_ID</key>
	<string>rise-and-shine-71715</string>
	<key>STORAGE_BUCKET</key>
	<string>rise-and-shine-71715.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396419953093:ios:70056b2236e88e4f5adbac</string>
</dict>
</plist>